body {
    background-color: #000;
}

.password-generator-container {
    height: 500px;
    width: 500px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 30px;
    color: #000;

}

.password-generator-container header {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    margin-bottom: 15px;
}

.password-generator-container header .title {
    font-size: 27px;
    font-weight: 700;
}

header .sub-title {
    color: #878484;
    font-size: 14px;
}

.body {
    display: flex;
    flex-direction: column;
}

.generator-section {
    border: 1px solid #d9d7d6;
    border-radius: 15px;
    background-color: #eceae88a;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 10px;
    padding: 0 20px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.action-buttons button {
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 5px 8px 8px 8px ;
}

button:hover {
    border: 1px solid rgb(0, 0, 0);
}

.generator-section .password {
    text-align: left;
}